@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transition: all 0.5s;
}

.hamburger-top {
    top: 0;
}

.hamburger-middle {
    top: 7px;
}

.hamburger-bottom {
    top: 14px;
}

.hamburger.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.hamburger.open .hamburger-middle {
    display: none;
}

.hamburger.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.red-car {
    background-image: url("./Components/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#formbg {
    background-image: url("./Components/images/formback.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#carmodels {
    transition: all .2s;
}

td:not(:last-child) {
    border-right: 1px solid lightgray;
}

#myTextarea {
    resize: none;
}



@layer components {
    .card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
    }
}